* {
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #F3E1F3;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.imagem-principal {
    width: 20%;
    max-width: 400px; /* Define um tamanho máximo */
}

.lista-principal {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.futuro {
    background-color: cornflowerblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.div-conteudo {
    width: 35%;
}

.titulo {
    padding: 24px 0;
}

.imagem-do-futuro {
    width: 20%;
    max-width: 400px; /* Define um tamanho máximo */
}